@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;800;900&display=swap'); */

.btnstyle {
    @apply bg-gray-500 rounded-lg py-3 text-xl
    hover:bg-gray-600;
}

.btnoperators {
    @apply bg-yellow-600
    hover:bg-yellow-500 font-semibold;
}

.btnEqual{
    @apply bg-green-600 rounded-lg py-3 text-xl
    hover:bg-green-400; 
}

.keysbtn{
    @apply bg-zinc-400 p-1 rounded-md
    hover:bg-white text-gray-600;
}

.key-mod{
    @apply mx-3 my-5 text-xs
}